<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="CityMapper">
 	
 	<select id="cityView" resultType="com.plan.city.CityDTO" parameterType="java.lang.String">
 		select * from city where e_name=#{e_name}
 	</select>
 	
 	<insert id="cityWrite" parameterType="com.plan.city.CityDTO">
 		insert into city values(2,#{city_name}, #{e_name}, #{big_name},#{city_img1},#{city_img2},#{city_img3},0,0,0)
 	</insert>
 	
 	<select id="cityList" resultType="com.plan.city.CityDTO">
 		select * from city;
 	</select>
 	
 	<select id="totalList" resultType="java.lang.Integer">
 		select count(no) from city;
 	</select>
 	
  	<select id="popular_spot" resultType="com.plan.spot.SpotDTO">
  	
 		<![CDATA[select spot.* from (select A.spot_name from (select count(no) total,spot_name from jim group by spot_name order by total desc) A where rownum <3) B join SPOT on B.spot_name = SPOT.spot_name]]>
 	</select>
 	
 	<select id="popular_plan" resultType="com.plan.plan.PlanDTO">
 		<![CDATA[select plan.* from (select A.plan_no from (select count(plan_no) total,plan_no from jim group by plan_no order by total desc) A where rownum <4) B join plan on B.plan_no = PLAN.plan_no]]>
 	</select>
 	
 	<select id="reply_city" resultType="com.plan.spotReDTO" parameterType="java.lang.Integer"></select>
 </mapper>