<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="PlanMapper">
  	<select id="bigCity_list" resultType="com.plan.big.BigDTO">
  		select * from bigcity order by no asc
  	</select>
  	
  	<select id="gang_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='Gangwon' order by no asc
  	</select>
  	
  	<select id="gyeong_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='Gyeonggi' order by no asc
  	</select>
  	
  	<select id="gyeongsangS_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='GyeongsangSouth' order by no asc
  	</select>
  	
  	<select id="gyeongsangN_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='GyeongsangNorth' order by no asc
  	</select>
  	
  	<select id="chungcheongS_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='ChungcheongSouth' order by no asc
  	</select>
  	
  	<select id="chungcheongN_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='ChungcheongNorth' order by no asc
  	</select>
  	
  	<select id="jeollaS_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='JeollaSouth' order by no asc
  	</select>
  	
  	<select id="jeollaN_list" resultType="com.plan.city.CityDTO">
  		select * from city where big_ename='JeollaNorth' order by no asc
  	</select>
  	
  	
  	<!-- plan DB 중간넣기 -->
  	<insert id="plan_insert" parameterType="com.plan.plan.PlanDTO">
  		insert into plan values(plan_seq.nextval,'mamamoo',null,#{s_date},#{f_date},0,null,0,0)
  	</insert>
  	
  	<!-- plan DB No 가져오기 -->
  	<select id="get_plan_no" resultType="java.lang.Integer">
		  	select Max(plan_no) from plan
  	</select>
  	
  	<!-- dayPlan DB insert for문 -->
  	<insert id="dayPlan_insert" parameterType="com.plan.dayPlan.DayPlanDTO">
	  	
  			insert into dailyplan values(dailyplan_seq.nextval,#{plan_no},#{daily_date},#{city_no},#{daily_xloaction},#{daily_yloaction})
	  	
	 </insert>
	 
	 <!-- datPlanReDTO에 data넣어서 리스트로 받아오기 -->
	 <select id="get_dayPalnReDTO" resultType="com.plan.dayPlan.DayPlanReDTO" parameterType="com.plan.dayPlan.DayPlanDTO">
	 	select * from dailyplan join city on dailyplan.CITY_NO = city.NO where plan_no = #{plan_no} order by daily_date
	 </select>
	 
	 <!-- planDB에서 plan_no값인 값 하나 빼오기 -->
	 <select id="get_planDTOone" resultType="com.plan.plan.PlanDTO" parameterType="com.plan.plan.PlanDTO">
	 	select * from plan where plan_no=#{plan_no}
	 </select>
	 
	 <!-- spot List 가져오기 -->
	 <select id="get_pspotList" resultType="com.plan.spot.SpotDTO" parameterType="java.lang.Integer">
	 	select * from spot where city_no=#{city_no}
	 </select>
	 
	 
	 
	 
  </mapper>