<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="qnaboardMapper">
  	<insert id="qna_write">
  		insert into qna_board values (qna_seq.nextval, #{id}, #{title}, #{contents}, sysdate, #{m_img},0)
  	</insert>
  
  	<!-- <select id="qna_view" resultType="com.plan.qna.QnaDTO">
  		select * from qna_board where id=#{id} order by reg_date desc
  	</select> -->

	<insert id="replyqna_write">
  		insert into replyqna_board values (replyqna_seq.nextval,${qnalist_no}, #{id}, #{contents}, sysdate,0, #{title})
  			<!-- 질문 한 글에 qna_check 를 0에서 1로 업데이트 해줘야함.. -->
  	</insert>

	<!-- 관리자가  유저에게 답글을 써야하는 것을 보는 뷰 -->
	<select id="replyqna_replyview" resultType="com.plan.qna.QnaDTO">
  		select * from qna_board where qna_check=0 order by reg_date desc
  	</select>

	<!-- 유저가 관리자가 쓴 글을 보는 뷰 -->
	<select id="replyqna_view" resultType="com.plan.qna.ReplyQnaDTO">
  		select * from replyqna_board where qnalist_no=#{qnalist_no} 
  	</select>

	<update id="replyqna_replyupdate" parameterType="com.plan.qna.QnaDTO">
		update qna_board set qna_check=1 where com_no=#{com_no}	 	
  	</update>
	  	

	

	<select id="getTotalList" resultType="java.lang.Integer">
  		select count(*) from qna_board
  	</select>  	
	  	
	<select id="qna_view" resultType="com.plan.qna.QnaDTO">
		select * from 
		(select rownum R, A.* from
		(select * from qna_board where id=#{id} order by reg_date desc) A) 
		where R between #{startRow} and #{lastRow}
	</select>	
	
	<sql id="qna_id">
  		select * from qna_board where id=#{id}
  	</sql>
	  	
	<delete id="qna_delete" parameterType="com.plan.qna.QnaDTO">
  		delete qna_board where com_no=#{com_no}
  	</delete>  	
	  	
	<update id="qna_update" parameterType="com.plan.qna.QnaDTO">
		update qna_board set title=#{title},contents=#{contents},m_img=#{m_img} where com_no=#{com_no}   		
  	</update>  	
	  	
	<delete id="replyqna_delete" parameterType="com.plan.qna.ReplyQnaDTO">
  		delete replyqna_board where com_no=#{com_no}
  	</delete>  	
	  	
	<update id="replyqna_update" parameterType="com.plan.qna.ReplyQnaDTO">
		update replyqna_board set title=#{title},contents=#{contents} where no=#{no}   		
  	</update>  	
	  	
	  	

  </mapper>